@{
    ViewData["Title"] = "Career";
}
@*WIP*@
<div class="text-center">
    <h1 class="display-4">Bauer Compressors, Inc.</h1>
    <h3>Norfolk, VA &emdash; 2020-2025</h3>
    <h1 class="display-4">Infosys Ltd.</h1>
    <h3>Hartford, CT &emdash; 2019-2020</h3>
</div>