@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">welcome 2 my webbed site</h1>
    <p><img src="/images/skeleton1.gif" /></p>
    <p><a href="https://github.com/swallis21/PortfolioWebApp/">Repo</a></p>
</div>