container_commands:
  00_install_python:
    command: "sudo dnf install python3 python-devel augeas-devel gcc"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  10_setup_venv:
    command: "sudo python3 -m venv /opt/certbot/"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  20_install_pip:
    command: "sudo /opt/certbot/bin/pip install --upgrade pip"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  30_install_certbot:
    command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  40_prepare_certbot_command:
    command: "sudo ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"